*~
*.[oa]
.dirstamp

/aclocal.m4
/ChangeLog
/config.h
/config.in
/config.log
/config.status
/configure
/INSTALL
/lib
/m4
/Makefile
/Makefile.in

/src/.deps

/doc/stamp-vti
/doc/time.info
/doc/version.texi
/stamp-h1
/stamp.h*

/time