*~
*.[oa]
.dirstamp

/aclocal.m4
/ChangeLog
/config.h
/config.in
/config.log
/config.status
/configure
/INSTALL
/lib
/m4
/Makefile
/Makefile.in

/src/.deps

/doc/stamp-vti
/doc/time.info
/doc/version.texi
/stamp-h1
/stamp.h*

/time

/test-suite.log
/tests/*.log
/tests/*.trs
/tests/time-aux
/tests/.deps

/build-aux
/autom4te.cache
/time-*.tar.gz
/time-*.tar.xz